.page_body {
    overflow: hidden;
}

.page_main {
    /* width: 100%; */
    /* height: 100dvh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-background);
    /* padding: 20px; */
    flex: 1;
}

button {
    cursor: pointer;
}

.button_load {
    width: 130px;
    background-color: var(--light-background);
    color: antiquewhite;
    font-size: 1.2rem;
    padding: 8px;
    border-radius: 4px;
    border: none;
}

.button_load:hover {
    box-shadow: 2px 2px 1px var(--border);
}

.load_btn_section {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: var(--dark-background);
}

.page_header {
    width: 100%;
    height: 80px;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-background);
    padding: 0px 48px;
}

.page_footer {
    width: 100%;
    height: 80px;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    background-color: var(--light-background);
    padding: 0px 48px;
}

.page_header_logo {
    display: flex;
    align-items: center;
    gap: 24px;
}

.page_header_logo>img {
    height: 60px;
}

.page_header>input {
    width: 200px;
    height: 24px;
    font-size: 1.2rem;
}

.error_message {
    color: rgb(105, 23, 23);
}

.loading_spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin: -60px 0 0 -60px;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* Gallery */

h2 {
    font-family: 'Nunito';
}

p {
    font-family: 'Nunito';
}

.content_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--dark-background);
    padding: 20px;
    gap: 20px;
}

.card_button {
    height: 230px;
    width: 150px;
    padding: 0;
    border: 2px solid var(--border);
    border-radius: 8px;
    background-color: var(--light-background);
    cursor: pointer;
    overflow: hidden;
}

.card_button:hover {
    /* border: 4px solid var(--border); */
    box-shadow: 5px 5px 2px var(--border);
}

.card_header {
    background-color: var(--light-background);
    color: antiquewhite;
    padding: 8px;
}

.card_main {
    background-color: var(--light-background);
}

.card_img {
    width: 120px;
    border-radius: 2px;
}

.card_footer {
    display: flex;
    height: 40px;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;

}

.card_footer span {
    border-radius: 10px;
    padding: 3px;
    border: 2px solid var(--border);
    font-family: 'Bungee';
    font-size: 0.6rem;
}

/* Dialog */

dialog {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--light-background);
    border-radius: 16px;
    border: 4px solid var(--border);
}

.dialog_opened::backdrop {
    background-color: var(--border);
    opacity: 0.8;
    transition: all 0.5s ease-in;
}


.dialog_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    font-family: 'Nunito';
    color: antiquewhite;
}

.dialog_header>button {
    background-color: var(--light-background);
    color: antiquewhite;
}

/* .dialog_img{
border-radius: 20px;
} */

.dialog_tab_section {
    width: 100%;
    font-family: 'Nunito';
    color: antiquewhite;
}

.dialog_tab {
    width: 100%;
    background-color: var(--light-background);
}

.tab_links {
    background-color: var(--light-background);
    font-family: 'Nunito';
    color: antiquewhite;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 8px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.tab_links:hover {
    background-color: var(--border);
}

.tab_content {
    width: 100%;
    background-color: var(--light-background);
    color: antiquewhite;
    padding: 8px;
}

.tab_content p {
    padding: 4px;
}

.dialog_footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 15px;
    flex-shrink: 0;
}