:root{
    --dark-background: rgb(6, 23, 30, 1);
    --light-background:rgb(13, 48, 60);
    --border:rgb(46, 55, 59);
    
}

html{
    font-size: 16px;
    color: antiquewhite;
    min-height: 100dvh;
}

body{
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

* {
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.button_img {
    padding: 0;
    border: none;
    background: none;
    line-height: 0;
    cursor: pointer;
    overflow: hidden;
}

.d_none{
    display: none;
}