:root{
    --dark-background: rgb(4, 37, 5);
    --light-background:rgba(17, 75, 28, 0.5);
    
}

html{
    /* font-family: "Figtree"; */
    font-size: 16px;
}

* {
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.button_img {
    padding: 0;
    border: none;
    background: none;
    line-height: 0;
    cursor: pointer;
    overflow: hidden;
}

.d_none{
    display: none;
}